@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/calls-filters.css';
@import 'components/calls-grid.css';

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

main {
    font-family: Arial;
}
